/* Rules:
One blank line btwn rules
Open curly brace on same line as selector
Close curly brace on new line
All property-value pairs in each rule must be indented 

tag {
property: value;
}

.class-name {
property1: value;
property2: value;
} */

html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
}

/* This one */
header {
    padding: 12px;

    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
}

/* This one */
footer {
    background-color: burlywood;
    padding: 24px;

    display:grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    align-items: center;
}

main {
    max-width: 800px;
    margin: auto;
}

/* This one */
.book-block {
    background-color: white;
    border: 1px solid lightblue;
    padding: 24px;

    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 12px;
}

/* This one */
.image-sizer {
    max-width: 200px;
    max-height: auto;

    display:grid;
    grid-row: 1 / 6;
}

.author-names {
    color: dimgray;
}

.star-format {
    font-size: 125%;
}

.book-title {
    font-weight: bold;
    font-size: 150%;
}

.detail-page-book-review {
    background-color: white;
    padding: 24px;
}

.create-page-form {
    background-color: white;
    padding: 24px;
}

input {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
}

textarea {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
    height: 100px;
}

button {
    padding: 12px;
    font-size: 110%;
}
